!!!
html
  head
    title Любовь
    meta(charset='utf8')
    link(href='/styles.css', rel='stylesheet')
  body
    #block
      h3 Свой подарок ты увидишь через 
      #timer 00:00
      h3 А, пока, можешь погадать, что это :)
      i Бета версия. Можно <a href='#skip' id='skip'>пропустить</a>.
    canvas#heart
    #info
      | Наши сердца стучатся вместе уже
      br
      - function setDate(b,c,a,e){var d=parseFloat(b.toString()[b.toString().length-1]);if(b>10&&b<21||!d){return e}if(d==1){return c}else{if(d>1&&d<5){return a}else{if(d>4&&d<11){return e}}}};
      
      - yea += ' ' + setDate(yea, 'год', 'года', 'лет');
      - mon += ' ' + setDate(mon, 'месяц', 'месяца', 'месяцев');
      - day += ' ' + setDate(day, 'день', 'дня', 'дней');
      - hou += ' ' + setDate(hou, 'час', 'часа', 'часов');
      - min += ' ' + setDate(min, 'минуту', 'минуты', 'минут');
      - sec += ' ' + setDate(sec, 'секунду', 'секунды', 'секунд');
      
      span#yea #{yea}, 
      span#mon #{mon}, 
      span#day #{day}, 
      span#hou #{hou}, 
      span#min #{min} 
      span#sec и #{sec}
      input#date(type='hidden', value=dat)
    script(src='/core.js')
    script(src='/paper-full.min.js')
    script
      var canvas = document.getElementById('heart');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
    script(type="text/paperscript", canvas='heart', src='/canvas.js')